<html>
    <head>
        <title>ADD STUDENT</title>
    </head>
    <body>
        <h2>ADD STUDENT</h2>
        <form action="addStudent/" method="post">
            {% csrf_token %}
            FIRST NAME : <br>
            <input type="text" name="fname">
            <br>
            LAST NAME : <br>
            <input type="text" name="lname">
            <br>
            DEP NAME : <br>
            <input type="text" name="depname">
            <br>
            GPA : <br>
            <input type="text" name="gpa">
            <br><br>
            <input type="submit" value="ADD DATA" onClick="alert('ยืนยันส่งข้อมูล')">    
        </form>
    </body>
</html>